.nav {
    display: flex;
    margin: auto;
    background-color: grey;
    overflow: hidden;
    font-weight: bolder;
    justify-content: space-between;
}
.nav a {
    display: inline-block;
    align-content: center;
    color: black;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}
.first-half .second-half{
    font-size: 18px;
}
/*.first-half {*/
/*    float: left;*/
/*}*/
/*.second-half{*/
/*    float: right;*/
/*}*/
.nav a:hover {
    background-color: #ddd;
    color: blue;
}
.nav a.active {
    background-color: #04AA6D;
    color: white;
}

.logo{
    display: inline-block;
    justify-content: center;
    font-family: Work Sans, sans-serif;
    font-size: 30px;
}