.nav {
    display: flex;
    margin: auto;
    background-color: grey;
    overflow: hidden;
    font-weight: bolder;
    justify-content: space-between;
}
a {
    display: inline-block;
    align-content: center;
    color: black;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    box-sizing: border-box;
}
.first-half .second-half{
    font-family: Montserrat, sans-serif;
    font-size: 5px;
}
.logo{
    font-family: Work Sans, sans-serif;
    font-size: 30px;
}
a:hover {
    color: blue;
}
.nav a.active {
    background-color: #04AA6D;
    color: white;
}

