
h1.fancy-header {
    color: darkslategrey;
    text-align: center;

}
h2.fancy-header {
    color: #4a646c;
    text-decoration: underline;
}
body{
    background-color: rosybrown;
    background-image: url("../images/square-circle2.png");
    background-position: inherit;
    background-repeat: no-repeat;
    font-family: 'Dosis', sans-serif;
    padding: 1px 3px 30px 20px;
}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
 ol {
     list-style: upper-roman;
 }
 li {
     list-style-type: square;
 }
.text {
     font-family: 'Roboto Slab', serif;
 }
#page-wrap {
    display: inline-block;
    justify-content: center;
}
footer {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
.cell-highlight {
    background-color: gold;
    font-weight: bold;
}

a:link {
    color: green;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: yellow;
}