p {
    text-align: center;
}
h1.fancy-header {
    color: darkslategrey;
    text-align: center;
    text-shadow: 0px 1px 1px #4d4d4d;
}
#tag {
    color: coral;
    font-size: 18px;
    padding-top: 0;
}
h2.fancy-header {
    color: #4a646c;
    text-decoration: underline;
    text-align: center;
}
body{
    background-color: lightgray;
    background-image: url("../images/square-circle2.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
ol {
     list-style: upper-roman;

}
li {
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    text-shadow: 2px 2px 4px darkslategray;
}
.text {
     font-family: 'Roboto Slab', serif;
 }
#page-wrap {
    justify-content: center;
}
footer {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
table {
    width: 55%
}
table, th, td{
    table-layout: auto;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}
.cell-highlight {
    background-color: #ffffb1;
    font-weight: bold;
    color: darkslategray;
}
.cell-title {
    background-color: dimgrey;
}
.basic-cell {
    color: darkslategray;
}
.asterisk {
    display: flex;
    font-size: 15px;
    margin: auto;
    width: 55%;
}

a:link {
    color: rosybrown;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: yellow;
}
#center {
    text-align: center;
}